<div class="row justify-content-center">
    <div class="col-sm-10">
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <ol class="carousel-indicators" style="color: cyan;">
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="assets/img/fisio-pediatrica.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Nos preocupamos por tu salud!</h5>
                        <p>Tratamientos para la Escoliosis, Bursitis, Síndrome del Túnel Carpiano, Lumbalgias, Cervicalgias.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="assets/img/area-fisio.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Las mejores instalaciones para ti!</h5>
                        <p> Con todas las medidas de bioseguridad</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="assets/img/fisio-deportiva.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Terapias para que vuelvas a disfrutar de tu deporte favorito</h5>
                        <p>Medicina deportiva: esguinces, contracturas musculares, sobrecargas post ejercicios</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleDark" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleDark" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </div>
</div>